In [1]:
import pandas as pd

In [2]:
DATAPATH = "data/phenotype_imputed.csv"
PATIENT_ID_PATH = "GWA_tutorial/patient_id_image_double.txt"
LV_EJECTION_ID_PATH = "data/LV_ejection_filter_id.txt"
HF_PATH = "data/ukbb_DX_HF.tsv"
RECRUIT_DATE_PATH = "data/instance_2_recruit_date.csv"
MI_PATH = "data/ukbb_DX_MI.tsv"

In [11]:
imputed_pheno_df = pd.read_csv(DATAPATH)
eids = pd.read_csv(PATIENT_ID_PATH, header=None, dtype=str, sep='\t')[0].str[:7]
LV_ejection_id = pd.read_csv(LV_EJECTION_ID_PATH, header=None, dtype=str, sep='\t')[0].str[:7]
HF_df = pd.read_csv(HF_PATH,delimiter="\t")
recruit_df = pd.read_csv(RECRUIT_DATE_PATH,usecols=["eid","recruit_date"])
MI_df = pd.read_csv(MI_PATH,delimiter="\t")
recruit_df = pd.read_csv(RECRUIT_DATE_PATH,usecols=["eid","recruit_date"])

<ipython-input-11-c46e14564696>:4: DtypeWarning: Columns (6,7,10,13,17,23,25,33,41,58,63,65,70,78,85,86,88,89,95,118,119,125,145,146,148,149) have mixed types. Specify dtype option on import or set low_memory=False.
  HF_df = pd.read_csv(HF_PATH,delimiter="\t")
<ipython-input-11-c46e14564696>:6: DtypeWarning: Columns (1,7,8,9,12,27,28,32,48,60,62,64,65,66,73,80,81,82,87,90,91,92,100,101,103,106,107,108,109,110,118,125,128,138,144,147,155,156,157,158,163,168,169,170,179,182,183,184,185) have mixed types. Specify dtype option on import or set low_memory=False.
  MI_df = pd.read_csv(MI_PATH,delimiter="\t")

In [4]:
recruit_df = pd.read_csv(RECRUIT_DATE_PATH,usecols=["eid","recruit_date"])
recruit_df

            eid recruit_date
0       1000013          NaN
1       1000024          NaN
2       1000036          NaN
3       1000048   2023-08-29
4       1000055          NaN
...         ...          ...
502351  6025030          NaN
502352  6025049          NaN
502353  6025051          NaN
502354  6025064          NaN
502355  6025073   2022-12-16

[502356 rows x 2 columns]

#### filter patient in this pheno df with image

In [13]:
imputed_pheno_df = imputed_pheno_df[imputed_pheno_df['eid'].astype("str").isin(eids)]
imputed_pheno_df

,Unnamed: 0,eid,instance_0.albumin_f30600,instance_0.cholesterol_f30690,instance_0.creatinine_f30700,instance_0.sitting_height_f20015,instance_0.body_mass_index_bmi_f21001,instance_0.body_fat_percentage_f23099,instance_0.whole_body_fat_mass_f23100,instance_0.creactive_protein_f30710,...,instance_3.Merged_Qualifications.CSEs_or_equivalent,instance_3.Merged_Qualifications.NVQ_or_HND_or_HNC_or_equivalent,instance_3.Merged_Qualifications.Other_professional_qualifications_eg_nursing_teaching,instance_3.Merged_Current_employment_status.In_paid_employment_or_self_employed,instance_3.Merged_Current_employment_status.Retired,instance_3.Merged_Current_employment_status.Looking_after_home_and_or_family,instance_3.Merged_Current_employment_status.Unable_to_work_because_of_sickness_or_disability,instance_3.Merged_Current_employment_status.Unemployed,instance_3.Merged_Current_employment_status.Doing_unpaid_or_voluntary_work,instance_3.Merged_Current_employment_status.Full_or_part_time_student
18,19,1000192,45.11,6.180,54.0,85.0,26.3841,35.6,25.0,0.80,...,0,0,1,1,0,0,0,0,0,0
28,29,1000290,43.16,5.433,89.9,93.0,42.7679,39.2,50.4,3.21,...,0,0,0,0,0,1,0,0,1,0
32,33,1000330,48.17,4.724,70.2,93.0,24.4727,14.9,10.8,0.36,...,0,1,1,1,0,0,0,0,0,0
41,42,1000420,50.20,5.226,69.5,83.0,21.3382,30.9,17.3,0.48,...,1,0,1,1,0,0,0,0,0,0
51,52,1000521,46.73,5.573,87.5,89.0,29.0318,27.7,22.2,1.38,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487061,487062,6024152,45.19,6.199,51.4,85.0,19.6984,31.5,18.1,1.09,...,0,0,0,1,0,0,0,0,0,0
487092,487093,6024474,45.10,6.067,91.5,91.0,22.9130,24.9,16.7,0.78,...,0,0,0,0,1,0,0,0,0,0
487128,487129,6024840,44.54,7.204,59.7,92.0,31.2816,31.8,30.5,0.98,...,0,1,0,0,1,0,0,0,0,0
487129,487130,6024857,36.84,3.065,77.3,99.0,40.2921,37.5,48.4,1.81,...,0,0,1,1,0,1,0,0,0,0
487141,487142,6024975,48.42,5.555,54.4,90.0,21.4902,28.8,16.7,1.23,...,0,0,0,0,0,0,0,0,1,0

#### Filter patient (instance 2) with LV ejection fraction

In [14]:
imputed_pheno_df = imputed_pheno_df[imputed_pheno_df['eid'].astype("str").isin(LV_ejection_id)]
imputed_pheno_df

,Unnamed: 0,eid,instance_0.albumin_f30600,instance_0.cholesterol_f30690,instance_0.creatinine_f30700,instance_0.sitting_height_f20015,instance_0.body_mass_index_bmi_f21001,instance_0.body_fat_percentage_f23099,instance_0.whole_body_fat_mass_f23100,instance_0.creactive_protein_f30710,...,instance_3.Merged_Qualifications.CSEs_or_equivalent,instance_3.Merged_Qualifications.NVQ_or_HND_or_HNC_or_equivalent,instance_3.Merged_Qualifications.Other_professional_qualifications_eg_nursing_teaching,instance_3.Merged_Current_employment_status.In_paid_employment_or_self_employed,instance_3.Merged_Current_employment_status.Retired,instance_3.Merged_Current_employment_status.Looking_after_home_and_or_family,instance_3.Merged_Current_employment_status.Unable_to_work_because_of_sickness_or_disability,instance_3.Merged_Current_employment_status.Unemployed,instance_3.Merged_Current_employment_status.Doing_unpaid_or_voluntary_work,instance_3.Merged_Current_employment_status.Full_or_part_time_student
18,19,1000192,45.11,6.180,54.0,85.0,26.3841,35.6,25.0,0.80,...,0,0,1,1,0,0,0,0,0,0
28,29,1000290,43.16,5.433,89.9,93.0,42.7679,39.2,50.4,3.21,...,0,0,0,0,0,1,0,0,1,0
32,33,1000330,48.17,4.724,70.2,93.0,24.4727,14.9,10.8,0.36,...,0,1,1,1,0,0,0,0,0,0
41,42,1000420,50.20,5.226,69.5,83.0,21.3382,30.9,17.3,0.48,...,1,0,1,1,0,0,0,0,0,0
51,52,1000521,46.73,5.573,87.5,89.0,29.0318,27.7,22.2,1.38,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487061,487062,6024152,45.19,6.199,51.4,85.0,19.6984,31.5,18.1,1.09,...,0,0,0,1,0,0,0,0,0,0
487092,487093,6024474,45.10,6.067,91.5,91.0,22.9130,24.9,16.7,0.78,...,0,0,0,0,1,0,0,0,0,0
487128,487129,6024840,44.54,7.204,59.7,92.0,31.2816,31.8,30.5,0.98,...,0,1,0,0,1,0,0,0,0,0
487129,487130,6024857,36.84,3.065,77.3,99.0,40.2921,37.5,48.4,1.81,...,0,0,1,1,0,1,0,0,0,0
487141,487142,6024975,48.42,5.555,54.4,90.0,21.4902,28.8,16.7,1.23,...,0,0,0,0,0,0,0,0,1,0

In [10]:
# Open the input file and the output file, this is the id with not latest basket and after filtered for image and lv_ejection fraction
with open('data/LV_ejection_filter_id_2.txt', 'w') as file:
    filtered_LV_ejection_id = imputed_pheno_df["eid"]
    for single_id in filtered_LV_ejection_id:
        file.write(f"{single_id}\n")

#### Filter for visit0

In [15]:
def add_visit_info(negative_features,positive_features,visit_number):
    """
    add visit info to the head of feature to match correct column in the df
    """
    negative_features_updated = []
    positive_features_updated = []
    if visit_number!="EHR":
        if len(negative_features)!=0:
            for feature in negative_features:
                new_feature = "instance_"+str(visit_number)+".INTVW_"+feature
                negative_features_updated.append(new_feature)
        if len(positive_features)!=0:
            for feature in positive_features:
                new_feature = "instance_"+str(visit_number)+".INTVW_"+feature
                positive_features_updated.append(new_feature)
    elif visit_number=="EHR":
        if len(negative_features)!=0:
            for feature in negative_features:
                new_feature = visit_number+"_"+feature
                negative_features_updated.append(new_feature)
        if len(positive_features)!=0:
            for feature in positive_features:
                new_feature = visit_number+"_"+feature
                positive_features_updated.append(new_feature)
    else:
        raise ValueError("Incorrect input: input_value must be 0 or 1 or 2 or EHR")
    return negative_features_updated,positive_features_updated

In [16]:
def filtering_HF(df,negative_feature:list,positive_feature:list,visit_number)->pd.DataFrame:
    """
    This function tries to filter according to negative and positive features.
    If any negative features are not nan, then, check positive features. If non positive
    features existed, then it is prevalent case
    """
    negative_feature,positive_feature = add_visit_info(negative_feature,positive_feature,visit_number)
    
    # check positive features first, get the id for patients who has non nan data for positive features
    positive_id = df[df[positive_feature].notna().any(axis=1)].index
    
    # check negative case to see if we can revert the decision, 
    # if patients with positive_id shows no negative sign, record the ids
    negative_df = df.loc[positive_id][negative_feature]
    true_positive_ids = negative_df[~negative_df[negative_feature].notna().any(axis=1)].index
    
    # if visit_number==2 or visit_number=="EHR":
    #     # this df has all patients who has disease and doesn't have negative features
    #     positive_df = df.loc[true_positive_ids,positive_feature]
    #     # merge with the CMR image date, to check if any positive feature is before the CMR image
    #     positive_df = positive_df.merge(recruit_df,left_index=True,right_on="eid",how="left").set_index("eid")
    #     # check any date in these positive features are before recruit_date
    #     positive_df= positive_df.apply(pd.to_datetime, errors='coerce')
    #     is_earlier = positive_df.apply(lambda x: x < positive_df['recruit_date'], axis=0)
    #     rows_with_earlier_dates = is_earlier.any(axis=1)
    #     filtered_df = positive_df[rows_with_earlier_dates]
    #     true_positive_ids = filtered_df.index
        
    df_merged =  df.merge(recruit_df,left_index=True,right_on="eid",how="left").set_index("eid") 
    return df_merged.loc[true_positive_ids,negative_feature+positive_feature+["recruit_date"]].index

In [17]:
# Negative Features: 
negative_features = ["CMP_2nd","HF_hypertensive","Myocarditis","VHD_rheumatic","VHD_others","Congenital_HD","Renal_failur_sig"]

# Postive Features:
positive_features = ["DCMP_strict","HCMP_strict","HF_broad","Ischemic_CMP"]
x = HF_df.copy().set_index("eid")
prevalent_id = []
target = [0,1,2,"EHR"]
for i in target:
    prevalent_id.append(filtering_HF(x,negative_features,positive_features,i))

flattened_list_HF = [item for sublist in prevalent_id for item in sublist]
flattened_list_HF = list(set(flattened_list_HF))
print(len(flattened_list_HF))
flattened_list_HF = [i for i in flattened_list_HF if str(i) in LV_ejection_id.to_list()]
len(flattened_list_HF)

419

245

In [24]:
# import pandas as pd
# import numpy as np

# # Sample DataFrame creation
# data = {
#     'eid': [1000013, 1000024, 1000048, 1000059, 1000067],
#     'instance_0.INTVW_positiveFeature1': [pd.NaT, '2022-01-15', '2022-03-01', pd.NaT, '2022-05-01'],
#     'instance_0.INTVW_positiveFeature2': ['2022-02-01', pd.NaT, pd.NaT, '2022-06-15', '2022-05-20'],
#     'instance_0.INTVW_negativeFeature1': [pd.NaT, pd.NaT, '2022-04-10', pd.NaT, pd.NaT],
# }
# df = pd.DataFrame(data)
# df['instance_0.INTVW_positiveFeature1'] = pd.to_datetime(df['instance_0.INTVW_positiveFeature1'])
# df['instance_0.INTVW_positiveFeature2'] = pd.to_datetime(df['instance_0.INTVW_positiveFeature2'])
# df['instance_0.INTVW_negativeFeature1'] = pd.to_datetime(df['instance_0.INTVW_negativeFeature1'])
# df

# # Assuming recruit_df is a DataFrame that maps eids to recruit dates
# recruit_df = pd.DataFrame({
#     'eid': [1000013, 1000024, 1000048, 1000059, 1000067],
#     'recruit_date': ['2022-01-01', '2022-02-01', '2022-03-15', '2022-05-01', '2022-04-15'],
# })
# recruit_df['recruit_date'] = pd.to_datetime(recruit_df['recruit_date'])

# # Define negative and positive features lists
# negative_features = ['negativeFeature1']
# positive_features = ['positiveFeature1', 'positiveFeature2']

# # Adding visit info (though in this test setup, it's already included in the column names for simplicity)
# visit_number = 0

# # Now, df is ready to be used as input for your filtering function
# df = df.set_index("eid")
# # case 1 positive after cmr X
# # case 2 positive before cmr Y
# # case 3 Positive Negative X
# # case 4 positive after cmr X
# # case 5 positive after cmr X
# filtering_HF(df,negative_features,positive_features,0)
# #

Index([1000013, 1000024, 1000059, 1000067], dtype='int64', name='eid')

In [18]:
def filtering_MI(df,negative_feature:list,positive_feature:list,visit_number)->pd.DataFrame:
    """
    This function tries to filter according to negative and positive features.
    If any negative features are not nan, then, check positive features. If non positive
    features existed, then it is prevalent case
    """
    negative_feature,positive_feature = add_visit_info(negative_feature,positive_feature,visit_number)
    
    # check positive features first, get the id for patients who has non nan data for positive features
    positive_id = df[df[positive_feature].notna().any(axis=1)].index

    
    # if visit_number==2 or visit_number=="EHR":
    #     # this df has all patients who has disease and doesn't have negative features
    #     positive_df = df.loc[positive_id,positive_feature]
    #     # merge with the CMR image date, to check if any positive feature is before the CMR image
    #     positive_df = positive_df.merge(recruit_df,left_index=True,right_on="eid",how="left").set_index("eid")
    #     # check any date in these positive features are before recruit_date
    #     positive_df= positive_df.apply(pd.to_datetime, errors='coerce')
    #     is_earlier = positive_df.apply(lambda x: x < positive_df['recruit_date'], axis=0)
    #     rows_with_earlier_dates = is_earlier.any(axis=1)
    #     filtered_df = positive_df[rows_with_earlier_dates]
    #     positive_id = filtered_df.index
        
    df_merged =  df.merge(recruit_df,left_index=True,right_on="eid",how="left").set_index("eid") 
    return df_merged.loc[positive_id,positive_feature+["recruit_date"]].index

In [19]:
negative_features = []
positive_features = ["Myocardial_infarction"]

y = MI_df.copy().set_index("eid")
prevalent_MI_id = []
target = [0,1,2,"EHR"]
for i in target:
    prevalent_MI_id.append(filtering_MI(y,negative_features,positive_features,i))

flattened_list_MI = [item for sublist in prevalent_MI_id for item in sublist]
flattened_list_MI = list(set(flattened_list_MI))
print(len(flattened_list_MI))
flattened_list_MI = [i for i in flattened_list_MI if str(i) in LV_ejection_id.to_list()]
len(flattened_list_MI)

1484

1169

In [20]:
prevalent_case = flattened_list_MI+flattened_list_HF
prevalent_case = list(set(prevalent_case))
print(len(prevalent_case))

1314

In [21]:
imputed_pheno_df = imputed_pheno_df[~imputed_pheno_df['eid'].isin(prevalent_case)]
imputed_pheno_df

,Unnamed: 0,eid,instance_0.albumin_f30600,instance_0.cholesterol_f30690,instance_0.creatinine_f30700,instance_0.sitting_height_f20015,instance_0.body_mass_index_bmi_f21001,instance_0.body_fat_percentage_f23099,instance_0.whole_body_fat_mass_f23100,instance_0.creactive_protein_f30710,...,instance_3.Merged_Qualifications.CSEs_or_equivalent,instance_3.Merged_Qualifications.NVQ_or_HND_or_HNC_or_equivalent,instance_3.Merged_Qualifications.Other_professional_qualifications_eg_nursing_teaching,instance_3.Merged_Current_employment_status.In_paid_employment_or_self_employed,instance_3.Merged_Current_employment_status.Retired,instance_3.Merged_Current_employment_status.Looking_after_home_and_or_family,instance_3.Merged_Current_employment_status.Unable_to_work_because_of_sickness_or_disability,instance_3.Merged_Current_employment_status.Unemployed,instance_3.Merged_Current_employment_status.Doing_unpaid_or_voluntary_work,instance_3.Merged_Current_employment_status.Full_or_part_time_student
18,19,1000192,45.11,6.180,54.0,85.0,26.3841,35.6,25.0,0.80,...,0,0,1,1,0,0,0,0,0,0
32,33,1000330,48.17,4.724,70.2,93.0,24.4727,14.9,10.8,0.36,...,0,1,1,1,0,0,0,0,0,0
41,42,1000420,50.20,5.226,69.5,83.0,21.3382,30.9,17.3,0.48,...,1,0,1,1,0,0,0,0,0,0
51,52,1000521,46.73,5.573,87.5,89.0,29.0318,27.7,22.2,1.38,...,0,0,0,0,1,0,0,0,0,0
62,63,1000632,46.72,4.912,87.4,94.0,36.9023,34.6,41.1,2.16,...,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487061,487062,6024152,45.19,6.199,51.4,85.0,19.6984,31.5,18.1,1.09,...,0,0,0,1,0,0,0,0,0,0
487092,487093,6024474,45.10,6.067,91.5,91.0,22.9130,24.9,16.7,0.78,...,0,0,0,0,1,0,0,0,0,0
487128,487129,6024840,44.54,7.204,59.7,92.0,31.2816,31.8,30.5,0.98,...,0,1,0,0,1,0,0,0,0,0
487129,487130,6024857,36.84,3.065,77.3,99.0,40.2921,37.5,48.4,1.81,...,0,0,1,1,0,1,0,0,0,0
487141,487142,6024975,48.42,5.555,54.4,90.0,21.4902,28.8,16.7,1.23,...,0,0,0,0,0,0,0,0,1,0