In [1]:
import pandas as pd

In [2]:
array_df = pd.read_csv("../../../ukbb_arraytype.txt", sep='\t')
array_df.rename(columns={"22000-0.0":"Genotype measurement batch"},inplace=True)
imputed_pheno_df = pd.read_csv("../../data/imputed_pheno_df_shuan.csv")
arr_imputed_pheno_df = imputed_pheno_df.merge(array_df,on='eid',how="left")
arr_imputed_pheno_df

,eid,instance_0.albumin_f30600,instance_0.cholesterol_f30690,instance_0.creatinine_f30700,instance_0.sitting_height_f20015,instance_0.body_mass_index_bmi_f21001,instance_0.body_fat_percentage_f23099,instance_0.whole_body_fat_mass_f23100,instance_0.creactive_protein_f30710,instance_0.cystatin_c_f30720,...,instance_3.Merged_Qualifications.NVQ_or_HND_or_HNC_or_equivalent,instance_3.Merged_Qualifications.Other_professional_qualifications_eg_nursing_teaching,instance_3.Merged_Current_employment_status.In_paid_employment_or_self_employed,instance_3.Merged_Current_employment_status.Retired,instance_3.Merged_Current_employment_status.Looking_after_home_and_or_family,instance_3.Merged_Current_employment_status.Unable_to_work_because_of_sickness_or_disability,instance_3.Merged_Current_employment_status.Unemployed,instance_3.Merged_Current_employment_status.Doing_unpaid_or_voluntary_work,instance_3.Merged_Current_employment_status.Full_or_part_time_student,Genotype measurement batch
0,1000192,45.11,6.180,54.0,85.0,26.3841,35.6,25.0,0.80,0.762,...,0,1,1,0,0,0,0,0,0,3.0
1,1000330,48.17,4.724,70.2,93.0,24.4727,14.9,10.8,0.36,0.805,...,1,1,1,0,0,0,0,0,0,51.0
2,1000420,50.20,5.226,69.5,83.0,21.3382,30.9,17.3,0.48,0.912,...,0,1,1,0,0,0,0,0,0,34.0
3,1000521,46.73,5.573,87.5,89.0,29.0318,27.7,22.2,1.38,0.893,...,0,0,0,1,0,0,0,0,0,64.0
4,1000632,46.72,4.912,87.4,94.0,36.9023,34.6,41.1,2.16,1.019,...,1,0,0,0,1,0,0,0,0,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35387,6024152,45.19,6.199,51.4,85.0,19.6984,31.5,18.1,1.09,0.674,...,0,0,1,0,0,0,0,0,0,64.0
35388,6024474,45.10,6.067,91.5,91.0,22.9130,24.9,16.7,0.78,0.815,...,0,0,0,1,0,0,0,0,0,-11.0
35389,6024840,44.54,7.204,59.7,92.0,31.2816,31.8,30.5,0.98,0.888,...,1,0,0,1,0,0,0,0,0,62.0
35390,6024857,36.84,3.065,77.3,99.0,40.2921,37.5,48.4,1.81,1.210,...,0,1,1,0,1,0,0,0,0,-4.0
35391,6024975,48.42,5.555,54.4,90.0,21.4902,28.8,16.7,1.23,0.684,...,0,0,0,0,0,0,0,1,0,25.0

In [3]:
covariates = ["eid","instance_2.age_when_attended_assessment_centre_f21003","instance_0.sex_f31","instance_0.standing_height_f50","instance_2.Mean_Weight","instance_2.Merged_Medication_for_cholesterol_blood_pressure_diabetes_or_take_exogenous_hormones.Blood_pressure_medication","Genotype measurement batch","instance_2.uk_biobank_assessment_centre_f54"]
covariates_df = arr_imputed_pheno_df[covariates]
covariates_df["FID"] = covariates_df["eid"]
covariates_df.rename(columns = {"eid":"IID"},inplace=True)
new_order = ["FID"] + [i for i in covariates_df.columns if i!="FID"]
# new_order
covariates_df = covariates_df[new_order]

<ipython-input-3-31d59a9854ab>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covariates_df["FID"] = covariates_df["eid"]
<ipython-input-3-31d59a9854ab>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covariates_df.rename(columns = {"eid":"IID"},inplace=True)

,IID,instance_2.age_when_attended_assessment_centre_f21003,instance_0.sex_f31,instance_0.standing_height_f50,instance_2.Mean_Weight,instance_2.Merged_Medication_for_cholesterol_blood_pressure_diabetes_or_take_exogenous_hormones.Blood_pressure_medication,Genotype measurement batch,instance_2.uk_biobank_assessment_centre_f54,FID
0,1000192,54,0,163.0,67.0,0,3.0,11027,1000192
1,1000330,51,1,172.0,67.6,0,51.0,11025,1000330
2,1000420,58,0,162.0,57.2,0,34.0,11025,1000420
3,1000521,73,1,166.0,81.4,0,64.0,11027,1000521
4,1000632,49,1,179.5,135.7,1,32.0,11025,1000632
...,...,...,...,...,...,...,...,...,...
35387,6024152,55,0,171.0,59.8,0,64.0,11025,6024152
35388,6024474,70,1,171.0,68.9,0,-11.0,11025,6024474
35389,6024840,64,1,175.0,72.9,0,62.0,11025,6024840
35390,6024857,71,1,179.0,123.9,0,-4.0,11027,6024857
35391,6024975,57,0,164.0,62.9,1,25.0,11026,6024975

In [21]:
patient_ids = pd.read_csv("../../data/patient.imaged_filtered.txt",sep="\t",header=None).iloc[:,0].to_list()

In [22]:
covariates_df = covariates_df[covariates_df["IID"].isin(patient_ids)]
covariates_df.to_csv("../../data/covariates_df.2024.06.14.csv",index=False)